altgraph==0.17.4
cffi==1.17.1
comtypes==1.4.10
Nuitka==2.6.8
ordered-set==4.1.0
packaging==24.2
pefile==2023.2.7
psutil==7.0.0
pycaw==20240210
pycparser==2.22
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.2
pywin32-ctypes==0.2.3
setuptools==78.1.0
sounddevice==0.5.1
zstandard==0.23.0
